@charset "UTF-8";
:root {
  --primary-text-color: #2C0958;
  --secondary-text-color: #48365F;
  --accent-text-color: #FFFFFF;
  --secondary-accent-color: #FF62B7;
  --accent-footer-color: #A6A6A6;
  --primary-bgc-color: #F8F0FD;
  --secondary-bgc-color:  #9F53FF;
  --footer-bgc-color: #1B013D;
  --primary-icon-color: #FF62B7;
  --secondary-icon-color: #FFFFFF;
}

.header-nav, .site-nav, .auth-container, .section-choose {
  display: flex;
  align-items: center;
}

body {
  background-color: var(--primary-bgc-color);
  color: var(--primary-text-color);
  font-family: Poppins, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.title {
  padding: 0;
  margin: 0;
}

.text {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.button {
  border-radius: 58px;
  border: 1px solid transparent;
  padding: 10px 32px;
  text-align: center;
  color: var(--primary-text-color);
  background-color: transparent;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  color: var(--secondary-icon-color);
  background-color: var(--secondary-accent-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.61;
  letter-spacing: 0.06em;
}

.button-header {
  width: 160px;
  height: 56px;
  margin-right: 5px;
}

.button-hero-section {
  margin-top: 20px;
  width: 238px;
  height: 60px;
}

.section-choose-button {
  margin-top: 85px;
  margin-left: 30px;
  box-shadow: none;
  color: var(--secondary-accent-color);
}

.section-choose-button:hover, .section-choose-button:focus {
  background-color: inherit;
  color: var(--secondary-bgc-color);
  font-weight: 600;
  font-size: 18px;
  line-height: 1.61;
  letter-spacing: 0.06em;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  font-family: Poppins, sans-serif;
  color: var(--secondary-bgc-color);
  font-weight: 400;
  font-size: 36px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  text-decoration: none;
  border: 0.8px;
  width: 400px;
}

@media screen and (max-width: 1200px) {
  .logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
}

.logo-header {
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (max-width: 768px) {
  .logo-header {
    margin-right: 88px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (max-width: 1200px) {
  .logo-header {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title {
  color: var(--primary-text-color);
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 80px;
  line-height: 1.25;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (max-width: 1200px) {
  .section-title {
    font-weight: 400;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

.header-nav {
  height: 86px;
  width: 100%;
  border: 0px, 0px, 1px, 0px;
  color: var(--footer-bgc-color);
}

.header-container {
  display: flex;
}

.container-nav {
  display: flex;
}

.site-nav {
  display: flex;
}

.auth-container {
  display: flex;
}

.site-nav .link:hover, .site-nav .link:focus {
  color: var(--secondary-accent-color);
}

.header-item {
  margin-right: 50px;
}

.header-link {
  display: block;
  padding: 32px 0;
  margin: 0;
  color: var(--primary-text-color);
  font-weight: 600;
  font-size: 18px;
  line-height: 1.61;
  letter-spacing: 0.02em;
  position: relative;
}

.current {
  color: var(--secondary-accent-color);
}

@media screen and (min-width: 768px) {
  .current::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--secondary-accent-color);
    display: block;
    bottom: 1px;
  }
}

.auth-container {
  margin-left: auto;
}

.header-button:not(:last-child) {
  margin-right: 10px;
}

.hero-section {
  width: 1200px;
  height: 970px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  background-image: url(/images/XMLID_1_.png), url(/images/shine.png), url(/images/big_star.png), url(/images/little_star.png);
  background-repeat: no-repeat;
  background-position-y: 61%, 0%, 35%, 100%;
  background-position-x: 0%, 72.5%, 48%, 72.5%;
}

.hero-section-box {
  margin-right: -200px;
  padding: 0;
}

.hero-section-title {
  margin-top: 30px;
  width: 690px;
  height: 465px;
  font-weight: 400;
  font-size: 110px;
  line-height: 1.26;
  letter-spacing: 0.03em;
}

.info-title-yoga {
  width: 250px;
  height: 150px;
  border: 1.55px;
  border-radius: 26px;
  padding: 16px;
  color: var(--accent-text-color);
  rotate: -7.69°;
  background-color: var(--secondary-accent-color);
}

.hero-section-text {
  margin-top: 120px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.61;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  width: 424px;
  height: 60px;
}

.hero-section-info {
  display: flex;
  margin-top: 20px;
}

.hero-section-number {
  display: block;
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 64px;
  line-height: 1.25;
  letter-spacing: 0.02em;
}

.hero-section-item {
  display: block;
  margin-top: 5px;
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.45;
  letter-spacing: 0.02em;
}

.hero-section-info-item {
  margin-right: 80px;
}

.image-hero-section {
  margin-top: 20px;
  margin-right: 200px;
}

.image-hero2 {
  margin-top: -300px;
  width: 170px;
  height: 170px;
}

.section-choose {
  display: flex;
  height: 240px;
  padding: 0;
  background-image: url(/images/background1.png), url(/images/stars.png), url(/images/eclipses.png);
  background-repeat: no-repeat;
  background-position-y: bottom, 50%, bottom;
  background-position-x: 23%, 55%, 98%;
}

.section-choose-teachers {
  margin-right: 80px;
  font-weight: 400;
  font-size: 80px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.section-choose-text {
  margin-top: 100px;
  margin-left: 50px;
  width: 346px;
  height: 72px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
/*# sourceMappingURL=main.css.map */