.header-nav {
    height: 86px;
    width: 100%;
    @extend %align-items;
    border: 0px, 0px, 1px, 0px;
    color: var(--footer-bgc-color);
}

.header-container {
    display: flex;
}

.container-nav {
    display: flex;
}

.site-nav {
    display: flex;
    @extend %align-items;
}

.auth-container {
    display: flex;
    @extend %align-items;
}

.site-nav .link {
    &:hover,
    &:focus {
        color: var(--secondary-accent-color);
    }
}

.header-item {
    margin-right: 50px;
}

.header-link {
    display: block;
    padding: 32px 0;
    margin: 0;
    color: var(--primary-text-color);
    @include font(600, 18px, 1.61, 0.02em);
    position: relative;
}

.current {
    color: var(--secondary-accent-color);

    @media screen and (min-width: 768px) {
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 4px;
            border-radius: 2px;
            background-color: var(--secondary-accent-color);
            display: block;
            bottom: 1px;
        }
    }
}

.auth-container {
    margin-left: auto;
}

.header-button {
    &:not(:last-child) {
        margin-right: 10px;
    }
}