.section-courses {
    height: 650px;
    display: flex;
    padding-top: 80px;
    background-image: url(/images/background2.png),
    url(/images/heart_rate.png),
    url(/images/500.png);
    background-repeat: no-repeat;
    background-position-x: -14%, left, 20%;
    background-position-y: 70%, 10%, 92%;
}

.section-courses-box {
    margin-left: 50px;
    align-items: left;
}

.section-courses-titile {
    padding-top: 100px;
}

.section-courses-text {
    width: 612px;
    height: 60px;
    margin-top: 40px;
    @include font(400, 18px, 1.61, 0.02em);
}