.section {
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 auto;
}

.section-title {
    color: var(--primary-text-color);
    @include font(400, 80px, 1.25, 0.06em);
    text-align: left;
    text-transform: uppercase;

    @media screen and (max-width: 1200px) {
        @include font(400, 44px, 1.36, 0.06em);
    }
}  