.section {
    padding-top: 85px;
    padding-bottom: 85px;
    margin: 0 auto;
}

.section-title {
    color: var(--primary-text-color);
    @include font(400, 80px, 1.25, 0.06em);
    text-align: left;
    text-transform: uppercase;
}  