:root {
    --primary-text-color: #2C0958;
    --secondary-text-color: #48365F;
    --accent-text-color: #FFFFFF;
    --secondary-accent-color: #FF62B7;
    --accent-footer-color: #A6A6A6;
    --primary-bgc-color: #F8F0FD;
    --secondary-bgc-color:  #9F53FF;
    --footer-bgc-color: #1B013D;
    --primary-icon-color: #FF62B7;
    --secondary-icon-color: #FFFFFF;
}